Node_Red_Smart_Port/.flows.json.backup
[
    {
        "id": "341aab300688a540",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "678f9eef15d7d117",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "90f0ebdfcac2e760",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "316f49cd2c50a213",
        "type": "ui-page",
        "name": "Water Monitoring",
        "ui": "678f9eef15d7d117",
        "path": "/page1",
        "icon": "tsunami",
        "layout": "grid",
        "theme": "90f0ebdfcac2e760",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1cd1a8f7b18032fc",
        "type": "ui-group",
        "name": "Warter Status",
        "page": "316f49cd2c50a213",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "38275b69aece9c04",
        "type": "mqtt-broker",
        "name": "",
        "broker": "48a113f51f254502a6fc327abf6fe6a5.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48743eb6674a865f",
        "type": "ui-page",
        "name": "Port Supervision",
        "ui": "678f9eef15d7d117",
        "path": "/page2",
        "icon": "boom-gate-up-outline",
        "layout": "grid",
        "theme": "90f0ebdfcac2e760",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "17a9d6e1a8fc5659",
        "type": "ui-group",
        "name": " Status Monitoring",
        "page": "48743eb6674a865f",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9bfd6737e91c9b4f",
        "type": "ui-group",
        "name": "Control Out",
        "page": "48743eb6674a865f",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0b32c294160bf011",
        "type": "ui-group",
        "name": "Ship Control",
        "page": "316f49cd2c50a213",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "36b6d5505be5f823",
        "type": "ui-group",
        "name": "Control In",
        "page": "48743eb6674a865f",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50135da94ee99ed5",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/water_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "d636e5ff5e630fa3"
            ]
        ]
    },
    {
        "id": "b11b2bcaa816655e",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/water_status1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "1e3c09c6ee5f0af9"
            ]
        ]
    },
    {
        "id": "21aa9f28fd0ea247",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/weight_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "fdba673e5f412ee9"
            ]
        ]
    },
    {
        "id": "244bd1824fc14bfb",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/parking_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "6c273614463b5d30"
            ]
        ]
    },
    {
        "id": "7742f8a331096686",
        "type": "mqtt out",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/servo_control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38275b69aece9c04",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "1aa27f8f50f32b62",
        "type": "mqtt out",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/reset_counts",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38275b69aece9c04",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "8e3bf5b55aed575a",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "36b6d5505be5f823",
        "name": "Open In",
        "label": "Open In",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-up",
        "iconPosition": "left",
        "payload": "Open In",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "5bd297201d92caaf",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "9bfd6737e91c9b4f",
        "name": "Open Out",
        "label": "Open Out",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-up",
        "iconPosition": "right",
        "payload": "Open Out",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "wihte",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "38747ed838499995",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "0b32c294160bf011",
        "name": "Stop",
        "label": "Stop",
        "order": 2,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "block-helper",
        "iconPosition": "right",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "404fe36e523ed60f",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "36b6d5505be5f823",
        "name": "Close In",
        "label": "Close In",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-down",
        "iconPosition": "left",
        "payload": "Close In",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 440,
        "y": 840,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "44ae8adec7019d19",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "9bfd6737e91c9b4f",
        "name": "Close Out",
        "label": "Close Out",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-down",
        "iconPosition": "left",
        "payload": "Close Out",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 440,
        "y": 900,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "1e3c09c6ee5f0af9",
        "type": "ui-chart",
        "z": "341aab300688a540",
        "group": "1cd1a8f7b18032fc",
        "name": "Triều cường",
        "label": "High Tide",
        "order": 2,
        "chartType": "line",
        "category": "esp32/water_status1",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "str",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "2",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "10000",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "6",
        "className": "font-size: 20px;",
        "interpolation": "linear",
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "55ea3de493339b61",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "17a9d6e1a8fc5659",
        "name": "Reset",
        "label": "Reset",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "iconPosition": "left",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "esp32/reset_counts",
        "topicType": "msg",
        "buttonColor": "black",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 980,
        "wires": [
            [
                "1aa27f8f50f32b62"
            ]
        ]
    },
    {
        "id": "c72cb9c8c67b6435",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/cars_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "3c0bdf5b13779828"
            ]
        ]
    },
    {
        "id": "b4c00768d94d5cba",
        "type": "mqtt in",
        "z": "341aab300688a540",
        "name": "",
        "topic": "esp32/cars_out",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38275b69aece9c04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "66e97da5f0c27125"
            ]
        ]
    },
    {
        "id": "6c273614463b5d30",
        "type": "ui-template",
        "z": "341aab300688a540",
        "group": "17a9d6e1a8fc5659",
        "page": "",
        "ui": "",
        "name": "Parking",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #28a745; font-size: 1.8em;\">Parking Slots</h2>\n  <div id=\"parking-status\" style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #28a745; border-radius: 10px; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #28a745;\">Available</div>\n      <div id=\"parking-slots\" style=\"font-size: 2.5em; font-weight: bold; color: #28a745;\">3</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/parking_status_topic\") {\n            let slots = parseInt(msg.payload);\n            document.getElementById('parking-slots').innerText = slots;\n\n            const container = document.getElementById('parking-status');\n            let color;\n\n            if (slots === 3) {\n                color = \"#28a745\"; // Green\n            } else if (slots === 2) {\n                color = \"#ffc107\"; // Yellow\n            } else {\n                color = \"#dc3545\"; // Red\n            }\n\n            container.style.borderColor = color;\n            document.getElementById('parking-slots').style.color = color;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fdba673e5f412ee9",
        "type": "ui-template",
        "z": "341aab300688a540",
        "group": "17a9d6e1a8fc5659",
        "page": "",
        "ui": "",
        "name": "Weight",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div style=\"text-align: center; font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #f9f9f9;\">\n  <!-- Tiêu đề -->\n  <h1 style=\"color: #FF5733; font-size: 2.5em; margin: 0 0 20px;\">Vehicle Weight</h1>\n\n  <!-- Trọng lượng -->\n  <div style=\"margin-bottom: 20px; font-size: 1.2em;\">\n    <span>Current Weight: </span> \n    <span id=\"vehicle-weight\" style=\"font-weight: bold; color: #007BFF; font-size: 1.5em;\">0.0 tons</span>\n  </div>\n\n  <!-- Thanh trạng thái -->\n  <div style=\"width: 100%; background-color: #ddd; height: 30px; border-radius: 15px; margin: 0 auto; overflow: hidden; position: relative; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);\">\n    <div id=\"weight-bar\" style=\"width: 0%; height: 100%; background-color: #28a745; transition: width 0.5s ease;\"></div>\n  </div>\n\n  <!-- Cảnh báo -->\n  <div id=\"weight-alert\" style=\"margin-top: 20px; font-size: 1.1em; color: #dc3545; font-weight: bold; visibility: hidden;\">\n    Warning: Weight exceeds 30 tons limit!\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/weight_status\") {\n            let weight = parseFloat(msg.payload); // Giá trị trọng lượng từ ESP32\n            document.getElementById('vehicle-weight').innerText = weight.toFixed(1) + \" tons\";\n\n            // Cập nhật thanh trạng thái\n            let maxWeight = 30.0; // Trọng lượng tối đa = 30 tấn\n            let percent = Math.min((weight / maxWeight) * 100, 100);\n            let bar = document.getElementById('weight-bar');\n            bar.style.width = percent + \"%\";\n\n            // Thay đổi màu sắc của thanh trạng thái\n            if (weight > 30.0) {\n                bar.style.backgroundColor = \"#dc3545\"; // Đỏ: quá tải\n            } else if (weight > 25.0) {\n                bar.style.backgroundColor = \"#ffc107\"; // Vàng: gần mức tối đa\n            } else {\n                bar.style.backgroundColor = \"#28a745\"; // Xanh: trong giới hạn\n            }\n\n            // Hiển thị cảnh báo nếu trọng lượng vượt quá 30 tấn\n            let alert = document.getElementById('weight-alert');\n            if (weight > 30.0) {\n                alert.style.visibility = \"visible\";\n            } else {\n                alert.style.visibility = \"hidden\";\n            }\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d636e5ff5e630fa3",
        "type": "ui-gauge",
        "z": "341aab300688a540",
        "name": "Mức nước",
        "group": "1cd1a8f7b18032fc",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Water Level",
        "units": "%",
        "icon": "water",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "72",
                "color": "#ff0000"
            },
            {
                "from": "48",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#00ff00"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "30",
        "sizeGap": "5",
        "sizeKeyThickness": "30",
        "styleRounded": true,
        "styleGlow": false,
        "className": "font-size: 20px;",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "283b3268bb7011c7",
        "type": "ui-button",
        "z": "341aab300688a540",
        "group": "0b32c294160bf011",
        "name": "Permission",
        "label": "Permission",
        "order": 1,
        "width": 6,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "ferry",
        "iconPosition": "left",
        "payload": "Permission",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "7742f8a331096686"
            ]
        ]
    },
    {
        "id": "3c0bdf5b13779828",
        "type": "ui-template",
        "z": "341aab300688a540",
        "group": "17a9d6e1a8fc5659",
        "page": "",
        "ui": "",
        "name": "Car In",
        "order": 3,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #007BFF; font-size: 1.8em;\">Cars In</h2>\n  <div style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #007BFF; border-radius: 50%; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #007BFF;\">Today</div>\n      <div id=\"cars-in\" style=\"font-size: 2.5em; font-weight: bold; color: #007BFF;\">0</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/cars_in_topic\") {\n            document.getElementById('cars-in').innerText = msg.payload;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "66e97da5f0c27125",
        "type": "ui-template",
        "z": "341aab300688a540",
        "group": "17a9d6e1a8fc5659",
        "page": "",
        "ui": "",
        "name": "Car Out",
        "order": 4,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #FF5733; font-size: 1.8em;\">Cars Out</h2>\n  <div style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #FF5733; border-radius: 50%; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #FF5733;\">Today</div>\n      <div id=\"cars-out\" style=\"font-size: 2.5em; font-weight: bold; color: #FF5733;\">0</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/cars_out_topic\") {\n            document.getElementById('cars-out').innerText = msg.payload;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 520,
        "wires": [
            []
        ]
    }
]